config = {
    'irc': {
        'server'    : 'irc.freenode.net',
        'port'      : 6697,
        'nick'      : 'LittleSen',
        'password'  : '',
        'ssl'       : True,
        'blacklist' : [
            '[Olaf]',
        ],
    },

    'telegram': {
        'server': '127.0.0.1',
        'port'  : 1235,
        'blacklist': [
            'PollBot',
        ],
    },

    'bindings':(
        ('#linuxba', 'chat#8531126', 0),
        ('#archlinux-cn', '#archlinux-cn', 1),
        ('#liuyanbot', '「中文  <-空格」', 0),
    )
}
