config = {
    'irc': {
        'server': 'irc.freenode.net',
        'port'  : 6697,
        'nick'  : 'LittleSen',
        'ssl'   : True,
        'blacklist': [
            '[Olaf]',
        ],
    },

    'telegram': {
        'server': '127.0.0.1',
        'port'  : 1235,
    },

    'bindings':(
        ('#linuxba', 'chat#8531126'),
        ('#archlinux-cn', '#archlinux-cn'),
        ('#liuyanbot', '「中文  空格测试」'),
    )
}
